.box {
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.1rem;
	border-radius: 0.4rem;
	border: 3px dotted white;
	color: white;
	font-weight: 600;
	font-size: 2rem;
}
